version: '3.8'

services:
  web:
    build: .
    ports:
      - "5001:8080"
    volumes:
      - .:/app # Mount current directory for hot-reloading/persistence during dev
    environment:
      - FLASK_ENV=development
